
/*------------------------------------------------*\
    Variables
\*------------------------------------------------*/

:root {
    --main-bg-color: #FEFDFF;
    --main-nav-color: #393E41;
    --title-background-colour: #f5f5f5;
    --wc-border-colour: #ededed;
  }

* {
    padding: 0;
    margin: 0;
    font-family: Calibri, sans-serif;
}

/*------------------------------------------------*\
    Globa;
\*------------------------------------------------*/

.hidden {
    display: none;
}

/*------------------------------------------------*\
    Body
\*------------------------------------------------*/

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-areas:
        "logoarea userarea userarea"
        "sidebar displayarea ."
        "copyright displayarea .";
    grid-template-rows: 7.5% 85% 7.5%;
    grid-template-columns: 200px auto 0;
    /* grid-column-gap: 2vw; */
}

/*------------------------------------------------*\
    Logo Area
\*------------------------------------------------*/

logoarea {
    background-color: #DF2935;
    border-right-style: solid;
    border-right-color: rgb(175, 35, 44);
    border-right-width: 4px;
    width: 100%;
    height: 102%;
    display: flex;
    justify-content: left;
    grid-area: logoarea;
}

logoarea > div {
    font-family: Calibri, sans-serif;
    color: white;
    font-size: 1.15em;
    margin: auto;
}


/*------------------------------------------------*\
    User Area
\*------------------------------------------------*/

userarea {
    height: 100%;
    width: 100%;
    background-color: var(--main-nav-color);
    border-bottom-style: solid;
    border-bottom-color: rgb(49, 53, 56);
    border-bottom-width: 4px;
    display: grid;
    grid-template-areas: "searcharea username";
    grid-template-columns: 92.5% 7.5%;

}

userarea > div {
    height: 80%;
    width: 100%;
    grid-area: username;
    border-left-style: solid;
    border-left-color: rgb(49, 53, 56);
    border-left-width: 2px;
    color: white;
    margin: auto;
    display: flex;
    justify-content: center;
}

userarea > div > * {
    margin: auto;
}


/*------------------------------------------------*\
    Sidebar Area - Navigation
\*------------------------------------------------*/

sidebar {
    background: var(--main-nav-color);
    overflow-x: hidden;
    border-right-style: solid;
    border-right-color: rgb(49, 53, 56);
    border-right-width: 4px;
    grid-area: sidebar;
}

sidebar a {
    padding: 2vh 2vh 2vh 2vh;
    display: block;
    color: white;
    text-decoration: none
}

.currentPage {
    background-color: rgb(37, 40, 43);
}

.subOption {
    padding: 1vh 3vh;
    font-size: 0.75em;
}

.subOption:hover {
    padding: 1vh 3vh;
    font-size: 0.75em;
    display: block;
    background-color: rgb(42, 45, 48);
    color: white;
    text-decoration :none
}

sidebar a:hover {
    padding: 2vh 2vh 2vh 2vh;
    display: block;
    background-color: rgb(42, 45, 48);
    color: white;
    text-decoration :none
}

/*------------------------------------------------*\
    Copyright Area
\*------------------------------------------------*/

copyright {
    background: var(--main-nav-color);
    overflow-x: hidden;
    border-right-style: solid;
    border-right-color: rgb(49, 53, 56);
    border-right-width: 4px;
    display: table;
    grid-area: copyright;
    height: 100%;
}

copyright p {
    font-size: 0.5em;
    color: white;
    vertical-align: middle;
    display: table-cell;
    padding-left: 2vh;
}

/*------------------------------------------------*\
    Display Area -  Shows current widgits/Tools
\*------------------------------------------------*/

holder {
    grid-area: displayarea;
    padding: 2.5%;
    display: grid;
    grid-template-columns: 70% 27.5%;
    grid-column-gap: 2.5%
}

displayArea, cardArea {
    height: 100%;
    width: 100%;
    display: grid;
    grid-gap: 1.5vw;
}

cardArea {
  grid-template-rows: 1fr 1fr 1fr;
}

/*------------------------------------------------*\
    Overlay
\*------------------------------------------------*/

.hide {
    display: none;
    grid-area: hide;
 }

 .show {
    display: grid;
    grid-area: displayarea;
 }

/*------------------------------------------------*\
    widgit Basic Design
\*------------------------------------------------*/

displayArea > div {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 10% 75% 10%;
  grid-row-gap: 2.5%;
  padding: 1vh;
  border: 1px solid var(--wc-border-colour);
  border-radius: 5px;
  box-shadow: 1px 1px 5px grey;
}

.topOptionsContainer {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--wc-border-colour);
    /* background-color: var(--title-background-colour); */
    display: flex;
    justify-content: center;
}

.topOptionsContainer > .areaSelect.ui.dropdown.selection, .topOptionsContainer > .storeSelect.ui.dropdown.selection {
    width: 20%;
    margin: auto auto auto 0;
}
.areaSelect.ui.dropdown.selection.hidden, .storeSelect.ui.dropdown.selection.hidden {
    display: none;
}

.topOptionsContainer > .ui.button {
    margin: auto 0 auto auto;
}

.topOptionsContainer > .reportSelect.ui.dropdown.selection {
    width: 65%;
    margin: auto;
}

.canvasContainer, .tableContainer {
  width: 100%;
  height: 95%;
}

canvas, .tableContainer {
  margin: auto;
}

.optionsContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.optionsContainer > .ui.selection.dropdown.dateOption {
    min-width: 14%;
    width: 14%;
    margin: auto;
}

.optionsContainer > input {
    min-width: 125px;
    width: 20%;
    margin: auto;
}

.optionsContainer > .stockSelect {
    width: 60%;
    margin: auto;
}

.hidden {
    display: none;
}

/*------------------------------------------------*\
    Table Area Design
\*------------------------------------------------*/

.tableArea {
    margin: auto 1vw;
}

/*------------------------------------------------*\
    Card Area
\*------------------------------------------------*/

cardArea > div {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 10% 85%;
  grid-row-gap: 2%;
  padding: 2px;
  border: 1px solid var(--wc-border-colour);
  border-radius: 5px;
  box-shadow: 1px 1px 5px grey;
}

.cardTitle {
  text-align: center;
  justify-content: center;
  
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--wc-border-colour);
}

/*------------------------------------------------*\
    Media Queries
\*------------------------------------------------*/

@media only screen and (max-width: 600px) {
    body {
        width: 100%;
        height: auto;
        display: grid;
        overflow: scroll;
        grid-template-areas:
        "logoarea userarea "
        "displayarea displayarea"
        "copyright copyright ";
        grid-template-rows: 5% auto 5%;
        grid-template-columns: 40% 40%;
        grid-gap: 1vh;
    }

    holder {
        grid-area: displayarea;
        padding: 2.5%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-row-gap: 2.5%
    }

    displayArea, cardArea {
        height: 100%;
        width: 100%;
        display: grid;
        grid-column-gap: 0vh;
        grid-row-gap: 1vh;
    }
}
